<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>employee-management</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <nav class="navbar">
      <a class="nav-link" href="/">Employee Management</a>
      <section class="navbar-section" id="navbar-section">
        <ul class="navbar-section-row">
          <li class="navbar-section-row-item">
              <a class="navbar-section-row-item-link">Login</a>
          </li>
          <li class="navbar-section-row-item">
            <a class="navbar-section-row-item-link">Register</a>
          </li>
          <li class="navbar-section-row-item">
            <a class="navbar-section-row-item-link">Logout</a>
          </li>
        </ul>
      </section>
    </nav>
</body>
</html>