<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>employee-management</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<nav class="navbar">
    <section class="navbar-section" id="navbar-section">
        <a class="nav-link" href="/">Employee Management</a>
        <a class="nav-link" th:if="${@loggedUser.isLogged()}" href="/tasks/add-task">Add Task</a>
        <ul class="navbar-section-row">
            <li th:if="${!@loggedUser.isLogged()}" class="navbar-section-row-item">
                <a class="navbar-section-row-item-link" href="/users/login">Login</a>
            </li>
            <li th:if="${!@loggedUser.isLogged()}" class="navbar-section-row-item">
                <a class="navbar-section-row-item-link" href="/users/register">Register</a>
            </li>
            <li th:if="${@loggedUser.isLogged()}" class="navbar-section-row-item">
                <a class="navbar-section-row-item-link" href="/users/logout">Logout</a>
            </li>
        </ul>
    </section>
</nav>
</body>
</html>