<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Employee management app</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:replace="fragments/navbar::#navbar-section"></header>
<main class="index">
<h1>Welcome Employee management app</h1>
<p>Hello
    welcome to our little application for assigning tasks to our employees, after registration you can add the tasks you
    are working on the left side of the screen, the tasks have a start and end date to be completed.
    You can also add from the add task section the tasks you are working on.
    We wish you luck.</p>
</main>
<!--<footer th:replace="fragments/footer"></footer>-->
</body>
</html>